@import 'colors/colors.css';

* {
    border: @accent;
    border-radius: 0px;
    font-family: "Adwaita Sans", JetBrainsMono Nerd Font Propo, "sans-serif";
    font-weight: bold;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: transparent;
}

tooltip {
    background: rgba(128, 128, 128, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}

tooltip label {
    color: @fg;
    padding: 6px;
}

#workspaces {
    background-color: rgba(128, 128, 128, 0.3);
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: @fg;
}

#workspaces button {
    padding: 0;
    margin: 0 3px;
    min-width: 33px;
    min-height: 28px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.3);
    color: transparent;
    transition: all 0.25s ease-in-out;
}

#workspaces button.active {
    min-width: 44px;
    padding: 0 8px;
    border-radius: 16px;
    background-image: linear-gradient(100deg, @on_primary, @primary);
    color: rgba(0, 0, 0, 0.3);
    font-size: 13px;
}

#workspaces button:hover {
    background-image: linear-gradient(200deg, @on_primary, @primary);
    color: rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%
}

#workspaces button.urgent {
    background-image: linear-gradient(135deg, @red, @black);
    color: @bg0;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#custom-arch_button {
    padding: 0 15px;
    background: rgba(128, 128, 128, 0.3);
    color: @fg;
    border-radius: 50px;
    margin-left: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#temperature {
    padding: 0 30px;
    background: rgba(128, 128, 128, 0.3);
    border-radius: 50px;
    margin-left: 13px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#mpris {
    padding: 0 15px;
    background: rgba(128, 128, 128, 0.3);
    color: @fg;
    border-radius: 50px;
    margin-left: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#tray {
    padding: 0 15px;
    background: rgba(128, 128, 128, 0.3);
    color: @fg;
    border-radius: 50px;
    margin-left: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#clock {
    background-color: rgba(128, 128, 128, 0.3);
    padding: 0 15px 0 15px;
    margin: 0 0 0 12px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-right: 6px;
}

#battery,
#pulseaudio,
#network,
#custom-notification {
    background-color: rgba(128,128,128,0.3);
    border-radius: 50px 50px 50px 50px; /* fully rounded ends */
    padding: 0 15px;
    margin-left: 0px;      /* remove spacing between modules */
    margin-right: -1px;    /* overlap borders slightly for connected look */
    color: @fg;
}

#clock {
    color: @fg;
}

#custom-notification {
    color: @fg;
    margin-right: 10;
}

#pulseaudio {
    color: @fg;
}

#network {
    color: @fg;
}

#battery {
    color: @fg;
}

#temperature {
    color: @fg;
}

#mpris {
    color: @fg;
}


#pulseaudio { border-radius: 50px 0 0 50px; }      /* left-most module */
#custom-notification { border-radius: 0 50px 50px 0; } /* right-most module */
#network, #battery { border-radius: 0; }     

/* ==== aliases ====== */
@define-color bg0 @background;
@define-color bg1 @surface_container;
@define-color bg3 @surface_variant;
@define-color bg4 @surface_container_high;
@define-color fg @primary ;
@define-color red @error;