@theme "~/.config/rofi/colors.rasi"
* {
    bg0:    @surface;
    bg1:    @surface;
    bg2:    #3D3D3D80;
    bg3:    @primary;
    fg0:    #E6E6E6;
    fg1:    #FFFFFF;
    fg2:    @primary;
    fg3:    #3D3D3D;
}


