@define-color bg0 #282c34;
@define-color bg1 #21252b;
@define-color bg2 #2c313a;
@define-color bg3 #3e4451;
@define-color bg4 #4b5263;

@define-color red    #8b0000;
@define-color orange #d19a66;
@define-color yellow #e5c07b;
@define-color green  #98c379;
@define-color aqua   #56b6c2;
@define-color blue   #61afef;
@define-color purple #c678dd;
@define-color pink   #db7093;

@define-color fg #abb2bf;

@define-color grey0 #5c6370;
@define-color grey1 #828997;
@define-color grey2 #abb2bf;
@define-color everforest #a0998b;
@define-color rei1 #47515b;
@define-color rei2 #636d77;
@define-color rei3 #b0b2be;
@define-color rei4 #424F5F;
@define-color rei5 #6C7C93;
@define-color rei6 #6F494B;
@define-color rei7 #472D2C;
@define-color rei8 #74899A;