@import 'colors/colors.css';

* {
    border: none;
    border-radius: 0px;

    font-family: "Adwaita Sans", JetBrainsMono Nerd Font Propo, "sans-serif";
    font-weight: bold;

    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: transparent;
}

tooltip {
    background: @bg0;
    border: 1px solid @bg3;
    border-radius: 12px;
}

tooltip label {
    color: @fg;
    padding: 6px;
}

#workspaces {
    background-color: @bg0;
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 1px solid @bg1;
    color: @fg;
}

#workspaces button {
    padding: 0;
    margin: 0 3px;
    min-width: 33px;
    min-height: 28px;
    border-radius: 50%;
    background-color: @bg1;
    color: transparent;
    transition: all 0.25s ease-in-out;
}



#workspaces button.active {
    min-width: 44px;
    padding: 0 8px;
    border-radius: 16px;
    background-image: linear-gradient(100deg, @on_primary, @primary);
    color: @bg0;
    font-size: 13px;
}

#workspaces button:hover {
    background-image: linear-gradient(200deg, @on_primary, @primary);
    color: @bg0;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%
}

#workspaces button.urgent {
    background-image: linear-gradient(135deg, @red, @black);
    color: @bg0;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#custom-arch_button {
    padding: 0 15px;
    background: @bg0;   
    color: @fg;
    border-radius: 50px;
     margin-left: 15px; 
}

#temperature {
    padding: 0 30px;        
    background: @bg0;    
    border-radius: 50px;   
    margin-left: 13px; 
}

#mpris {
    padding: 0 15px;
    background: @bg0;
    color: @fg;
    border-radius: 50px;
    margin-left: 15px;
}


#tray {
    padding: 0 15px;
    background: @bg0;
    color: @fg;
    border-radius: 50px;
    margin-left: 15px;
}

#battery,
#pulseaudio,
#network,
#clock,
#custom-notification {
    background-color: @bg0;
    padding: 0 15px 0 15px;
    margin: 0 0 0 12px;
    border-radius: 50px;
    border: 1px solid @bg1;
    margin-right: 6px;
}

#clock {
    color: @fg;
}

#custom-notification {
    color: @fg;
}

#pulseaudio {
    color: @fg;
}

#network {
    color: @fg;
}

#battery {
    color: @fg;
}

#temperature {
    color: @fg;
}

#mpris {
    color: @fg;
}

/* ==== aliases ====== */

@define-color bg0 @background;
@define-color bg1 @surface_container;
@define-color bg3 @surface_variant;
@define-color bg4 @surface_container_high;

@define-color fg @primary ;
@define-color red @error;
